html{
  box-sizing: border-box;
}

*,*::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-size: inherit;
}

body{
  background-color: #240000 ;
  padding: 50px 0;
  font-family: Proxima Nova;
  font-size: 16px;
  line-height: 19px;
}

.wrapper{
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 1400px;
}

.container{
  max-width: 1225px;
  margin: 0 auto;
}


